.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Ajusta según lo que necesites */
    z-index: 1000; /* Asegura que los elementos queden por encima del contenido */
}
#cotizador {
    top: 65px; /* Ajusta según la altura del menú */
    z-index: 999; /* Asegura que no sobrepase el menú */
}
body {
    margin: 0;
    line-height: 1.5;
    color: #4a5073;
    text-align: left;
    background-color: #fff;
}

.bg-envios-gradient{
    background: linear-gradient(to right, #2c8ef4, #2c4df4);
}
.bg-envios-gradient-reverse{
    background: linear-gradient(to right, #2c4df4,#2c8ef4);
}

.bg-cream{
    background-color: #f7e1a7;
}

.bg-lightblue{
    background-color: #b0c6e4;
}

.text-justify{
    text-align: justify;
}
.w-65 {
    width: 65% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.w-90 {
    width: 90% !important;
}

.navbar-brand img {
    height: 45px;
}

.section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem
}

.section-header {
    position: relative;
    padding-top: 3.5rem;
    padding-bottom: 9rem;
}


.pattern {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url("../../public/assets/patterns/wave.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 1450px 160px;
    height: 0;
    padding: 0;
    padding-bottom: 140px;
}

@media(max-width: 991.98px) {
    .pattern {
        background-size:700px 203px
    }
}

.pattern.bottom {
    bottom: -10px;
    transform: rotate(180deg);
}

.pattern.top {
    top: -10px
}

.pattern-soft {
    background-image: url("../../public/assets/patterns/wave-soft.svg");
}

.hr-warning{
    border: none;
    height: 2px; /* Cambia la altura del HR */
    background-color: $warning; /* Cambia el color del HR */
    opacity: 1;
}

.navbar-toggler-icon{
    background: url("../../public/assets/iconos/options.svg");
}

.autoComplete_wrapper > ul{
    z-index: 1000;
    padding: .5rem;
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}
.autoComplete_wrapper > ul > li mark {
    background-color: transparent;
    color: darken($warning, 5%);
    font-weight: bold;
    padding: 0;
}
.autoComplete_wrapper > ul > li:hover {
    cursor: pointer;
    background-color: rgba(144, 192, 255, 0.26);
}

input[type="number"].no-controls::-webkit-outer-spin-button,
input[type="number"].no-controls::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Quitar controles en Firefox */
input[type="number"].no-controls {
    -moz-appearance: textfield;
}

.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    display: flex;
    animation: marquee 10s linear infinite;
}

.marquee-content img {
    height: 50px;
    opacity: 50%;
    margin-right: 30px;
    border-radius: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 125px;
    right: 25px;
    z-index: 1000;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    i{
        font-size: 2.25rem;
    }
}

.whatsapp-icon:hover {
    background-color: #1ebd5a;
}
