// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Bariol Regular';
$font-size-base: 1.1rem;
//$font-weight-base: 500;
$line-height-base: 1.6;

$primary : #1C75BC;
$warning : #f8bd15;
